* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

.container-fluid {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("https://images.pexels.com/photos/355904/pexels-photo-355904.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
  background: black;
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}


/* NAVBAR ********************************/

.logo {
  width: 50px;
  cursor: pointer;
}

.menu-icon {
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
  display: none;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
}

#MenuItems a {
  text-decoration: none;
  color: #B0B0B0;
  font-weight: 400;
  font-size: 17px;
  padding: 0 5px;
  text-transform: capitalize;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  transition-property: transform;
  transition: ease 0.5s;
}

li:hover {
  transform: translateY(-5px);
}

/* HOME PAGE      */
.scroll-down-arrow {
  width: 20px;
}

.intro {
  /* background-color: orange; */

}

.intro p {
  text-transform: uppercase;
  margin: 50px 0;
}

.intro-btns {
  /* background-color: lightblue; */

}





















/* RESPONSIVE NAV      */
@media only screen and (min-device-width:0em) and (max-device-width:23.4375em) {
  /* NAV */
    nav ul {
      position: absolute;
      top: 70px;
      left: 0;
      background: #fff;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
    }

    nav ul li {
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    nav ul li a {
      color: #fff;
    }

    .menu-icon {
      display: block;
      cursor: pointer;
      color: #fff;
    }
}
